body{
  background-color: #f6f9fc;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:50px;
}

.canvas{
  width:600px;
  height: 500px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11);
}
.canvas__mirror {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.controls{
  text-align: center;
}
.controlsRange{
  margin-top : 10px;
}
.controlBtns{
  margin-top: 10px;
}
.controlBtn{
  width:100px;
  height:30px;
  margin: 5px;
}
.controlBtn:acitve{
  transform : scale(0.98);
}
.colorList{
  list-style-type: none;
}

.colorList li{
  display: inline;
}
.colorList li button{
  border: none;
  padding:10px 20px;
  margin: 5px 5px;
  border-radius: 50%;
}
